/*
    Atleast one media query, welcome-section>height: 100vh,
    navbar always at the top.
*/

body {
  position: relative;

  margin: 0;
  padding: 0;
  background-color: gray;
}

nav {
  border: solid red;
  position: fixed;
  right: 0;
}

main {
  border: solid greenyellow;
  display: flex;
  flex-direction: column;
}
.section {
  text-align: center;
  display: flex;
  border: solid white;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}
.section-title {
  flex: 1;
  border: solid blue;
}

.project-container {
  flex: 8;
  border: solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-tile {
  border: solid black;
  flex: 2;
  display: flex;
  margin: 5px;
}
.project-img-container {
  flex: 1;
  margin: 10px;
  border: solid white;
}
.project-info {
  flex: 2;

  margin: 10px;
  border: solid black;

  display: flex;
  flex-direction: column;
}

.project-text {
  border: solid green;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-title {
  display: block;
  text-align: left;
  justify-content: center;
}
.project-description {
  overflow: auto;

  text-align: left;
  border: solid blue;
}

.project-links {
  border: solid red;
}

.more-projects-container {
  border: solid green;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#more-projects-btn {
  color: aliceblue;
  text-decoration: none;
  font-size: 2.5vw;
  display: flex;
  height: 5vh;
  width: 40%;

  border: solid blue;

  justify-content: center;
  align-items: center;
}
#more-projects-btn:hover {
  height: 6vh;
  width: 44%;
  font-size: 2.7vw;
  transition-duration: 500ms;
}

footer {
  border: solid black;
}

@media (max-width: 860px) {
  .project-container {
    flex-direction: column;
  }
}

@media (min-width: 860px) {
  .project-img-container {
    flex: 6;
  }
  .project-info {
    flex: 7;
  }
    
  @media (max-width: 133vh) {
    .project-container {
      flex-direction: column;
    }
  }
}
