/*
    Atleast one media query, welcome-section>height: 100vh,
    navbar always at the top.
*/
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  z-index: 1;
  top: 2%;
  justify-content: center;

  font-size: 1rem;
}
h1 {
  font-weight: 10;
}

.nav-btns-container {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.nav-btns {
  color: aliceblue;
  border-top: solid black;
  border-bottom: solid black;
  background-color: silver;
  padding: 0 10px;
  text-decoration: none;
}
.nav-btns:hover {
  color: aquamarine;
  opacity: 1;
}

#nav-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: -1;
}

#welcome-section {
  display: block;
  height: 98.9vh;
  background-image: linear-gradient(180deg, khaki, lightskyblue);
}
#about {
  background-image: linear-gradient(180deg, lightskyblue, lightgreen);
}
#projects {
  height: 250vh;
  background-image: linear-gradient(180deg, lightgreen, lightpink);
}
#contact {
  background-image: linear-gradient(180deg, lightpink, khaki);
}

footer {
  height: 10vh;
  background-color: khaki;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}
#welcome-text-section {
  position: relative;
  height: 50%;

  display: flex;
  justify-content: center;
}
#welcome-text {
  position: absolute;
  bottom: 5%;
}

.welcome-btns-container {
  height: 50%;

  display: flex;
  justify-content: center;
}
.welcome-btns {
  border-bottom: solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 22%;
  height: 10%;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.welcome-btns:hover {
  width: 25%;
  height: 11%;
  transition-duration: 250ms;
  border-bottom: solid khaki;
  font-size: 1.05rem;
}
.welcome-btns:not(:hover) {
  width: 22%;
  height: 10%;
  transition-duration: 250ms;
}
.welcome-btn-s {
  border-bottom: solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 20%;
  height: 10%;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.welcome-btn-s:hover {
  width: 22%;
  height: 11%;
  transition-duration: 250ms;
  border-bottom: solid khaki;
  font-size: 1.05rem;
}
.welcome-btn-s:not(:hover) {
  width: 20%;
  height: 10%;
  transition-duration: 250ms;
}

.section {
  text-align: center;
  display: flex;

  min-height: 100vh;
  flex-direction: column;
}

.section-title-area {
  position: relative;

  display: flex;
  flex: 1;
  justify-content: center;
}
.section-title-area span {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  text-decoration: underline;
}

.section-content {
  flex: 5;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-text-container {
  flex: 1;
  width: 98%;
  border-top: solid black;
  border-bottom: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  width: 100%;
}

.section-img {
  margin: 20px;
  flex: 2;
  width: 75%;
  border: solid wheat;
}

.project-container {
  display: flex;
  flex: 8;
  flex-direction: column;
  justify-content: space-around;
}
.project-tile {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  margin: 5px;
}
#project-b {
  flex-direction: column;
}
.project-img-container {
  margin: 10px;
  height: 40vh;
  border: solid white;
  line-height: 80vh;
  text-align: center;
}

.project-img-container:hover {
  transform: scale(1.05);
  transition-duration: 250ms;
}
.project-img-container:not(:hover) {
  transform: scale(1);
  transition-duration: 200ms;
}
.project-info {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.project-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-title {
  display: block;
  text-align: center;
  height: 10%;
}

.project-title a {
  color: dodgerblue;
}
.project-description {
  overflow-y: scroll;
  font-size: 1rem;
  height: 40%;

  border-top: solid black;
  border-bottom: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-description::-webkit-scrollbar {
  display: none;
}

.project-links {
  background-color: black;
  border: hidden transparent;
  color: aliceblue;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-links:hover {
  border: solid white;
  transform: scale(1.2);
  transition-duration: 250ms;
}
.project-links:not(:hover) {
  transform: scale(1);
  transition-duration: 200ms;
}

.more-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#more-projects-btn {
  color: black;
  background-color: lightblue;
  box-shadow: 0px 0px 20px gray;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  height: 5vh;
  width: 40%;

  border: solid white;

  justify-content: center;
  align-items: center;
}
#more-projects-btn:hover {
  height: 6vh;
  width: 44%;
  font-size: 1.1rem;
  transition-duration: 250ms;
}
#more-projects-btn:not(:hover) {
  height: 5vh;
  width: 40%;

  transition-duration: 200ms;
}

.contact-info {
  flex: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info span {
  margin: 20px;

  font-size: 1.3rem;
}

.contact-info span a {
  color: dodgerblue;
}
#bigger {
  font-size: 2rem;

  border-bottom: solid black;
}

.round-btns-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  position: relative;
}

.round-btns-container a {
  text-decoration: none;
}

.round-btn {
  width: 67.5px;
  background-color: black;
  border: solid black;
  height: 67.5px;
  color: aliceblue;
  font-size: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
}
.round-btn:hover {
  transform: scale(1.2);
  transition-duration: 250ms;
  border: solid white;
}
#git-icon {
  color: black;
  background-color: aliceblue;
}

#linkd-icon {
  font-size: 45px;
}

#footer-text {
  position: relative;
}
/* Mobile */
@media (max-width: 1040px) {
  :root {
    font-size: 20px;
  }

  .removable {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1040px) {
  :root {
    font-size: 30px;
  }
  nav {
    font-size: 0.7rem;
  }
  .section-content {
    flex: 4;

    display: block;
    position: relative;
  }

  .section-text-container {
    width: 55%;
    height: 20%;
    position: absolute;
  }
  .text {
    height: 50%;
  }

  .section-img {
    width: 35%;
    height: 50%;
    position: absolute;
  }
  .round-btns-container {
    justify-content: center;
    margin: -50px;
  }

  .round-btn {
    margin: 50px 10px;
  }

  #text-1 {
    left: 2%;
    top: 17%;
  }
  #img-1 {
    right: 2%;
    top: 2%;
  }
  #text-2 {
    right: 2%;
    bottom: 17%;
  }
  #img-2 {
    left: 2%;
    bottom: 2%;
  }
}

@media (min-width: 110vh) {
  #projects {
    height: 100vh;
  }

  .project-container {
    flex-direction: row;
    height: 60vh;
  }
  .project-title {
    text-align: left;
  }
  .project-tile {
    flex-direction: row;
    flex: 1;
    height: 100%;
  }
  .project-img-container {
    width: 40%;
    align-self: center;
  }
  .project-info {
    width: 60%;
    align-self: center;
  }
  #project-b {
    flex-direction: row;
    flex: 1;
  }
  .more-projects-container {
    position: relative;
    bottom: 10%;
  }
  .contact-info span {
    width: 75%;
  }
}
